/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'gilroyextrabold';
	src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
			 url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gilroylight';
	src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
			 url('../fonts/gilroy-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#1a3065;
	--color-background:#c9c9c9;
	--color-pijltjes:#1a3065;
	--color-button:#ffea80;
	--color-button-hover:#efcf2e;
	--color-button-text:#1a3065;
	--color-select-state: #1d1d1d;

	--color-dopper-polarBlue:#d1f0ed;
	--color-dopper-tidalTeal:#008E8D;
	--color-dopper-pacificBlue:#2A72A7;
	--color-dopper-coralSplash:#F45758;
	--color-dopper-seahorseLime:#D9E246;
	--color-dopper-moodyMint:#8CB593;
	--color-dopper-black:#1d1d1d;
	--color-dopper-white:#fff;

	--margin-links-en-rechts: 0 1em 0 1em;
}

@media (prefers-color-scheme: dark){
	:root{
	--color-text:#eee;
	--color-background:#1a3065;
	--color-pijltjes:#eee;
	--color-select-state: #8a8787;
	}
}





/********************/
/* ALGEMENE STYLING */
/********************/
html{
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
  font-family:gilroyextrabold, sans-serif;

  color:var(--color-text);
  background-color:var(--color-background);

	align-items: center;
}

main { 
	margin: 0;
	width:100%;
	height: 100%;
}

h1{
	font-size: 2.2em;
}

h2{
	font-size: 1.2em;
	margin: 0 0 0 1em; 
}

/* Extra wrapper, omdat het anders te breed werd*/
div:nth-of-type(1){  
	height: 100%;
	display: grid;
	grid-template-rows: max-content 1fr max-content;

	grid-template-areas: 
	"header"
	"fles"
	"opties";
}





/**************************/
/* TITEL MET BESCHRIJVING */
/**************************/
header{
	grid-area: header;
	margin: var(--margin-links-en-rechts);
}





/**************************/
/*     NAV / WISHLIST     */
/**************************/
header nav a { 
  font-size:1.5em;
  line-height:1em;
  text-decoration:none;
}

header nav a span {
	margin: -1em 0 0 -1em;
 
  min-width:1.25em;
  padding:0 .4em;
  
  background-color:var(--color-button-hover);
  border-radius:10em;
  
  font-size:.5em;
  color:var(--color-button-text);
}


/* WERKT NIET */
header nav a span.updated{
  animation-name: updated;
  animation-duration:.2s;
  animation-iteration-count:2;
}

@keyframes updated {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.5);
  }
  100% {
    transform:scale(1);
  }
}




/************************/
/* FORMULIER MET OPTIES */
/************************/
div>section{
	width: 100%;
	grid-area: opties;

	justify-self: center;
	align-self: center;
}

ul{
	list-style-type: none;
}

ul div{
	margin: 1em 0 0 1em; 
}

section div{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap:1em 1em;
}

section p{
	margin: 0;
}

/* Om de opslaan sectie links en rechts ruimte te geven */
form>section:last-of-type{
	padding: var(--margin-links-en-rechts);
}

/* Voor de afmetingen van de svg's in het formulier */
ul li label svg{
	width: 2em;
}

label input:checked + svg  {
	filter:drop-shadow(0 0 .3em var(--color-select-state))
}

/* Het verbergen van de radio buttons */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Links en rechts pijltjes */
.swiper-button-prev{
	border: none;
	color: var(--color-pijltjes);
	background-color: transparent;
}

.swiper-button-next{
	border: none;
	color: var(--color-pijltjes);
	background-color: transparent;
}

/* Wrapper van de svg dopper */
article{
	grid-area: fles;
	justify-self: center;
	align-self: center;
	height: 85%;
}

svg{
	height: 100%;
	width: auto;
}

/* Voor het opslaan van de dopper stap 4/4 */
form button{
	background-color: var(--color-button);
	color: var(--color-button-text);
	font-size: 1em;
	font-weight: 600;
	padding: .5em 1em .5em 1em;
	border-radius: .7em;
	border: none;
	margin: 1em 0 0 1em; 
}

form button:hover{
	transition: .8s;
	border-radius: 1.5em;
	background-color: var(--color-button-hover);
}

/* doppen in form een kleur geven */
form section:nth-of-type(1) li:nth-of-type(1) label svg{
	fill: var(--color-dopper-polarBlue);
}

form section:nth-of-type(1) li:nth-of-type(2) label svg{
	fill: var(--color-dopper-tidalTeal);
}

form section:nth-of-type(1) li:nth-of-type(3) label svg{
	fill: var(--color-dopper-pacificBlue);
}

form section:nth-of-type(1) li:nth-of-type(4) label svg{
	fill: var(--color-dopper-coralSplash);
}

form section:nth-of-type(1) li:nth-of-type(5) label svg{
	fill: var(--color-dopper-seahorseLime);
}

form section:nth-of-type(1) li:nth-of-type(6) label svg{
	fill: var(--color-dopper-moodyMint);
}

/* Cup in form een kleur geven */
form section:nth-of-type(2) li:nth-of-type(1) label svg{
	fill: var(--color-dopper-white);
}

form section:nth-of-type(2) li:nth-of-type(2) label svg{
	fill: var(--color-dopper-black);
}

/* Bottle in form een kleur geven */
form section:nth-of-type(3) li:nth-of-type(1) label svg{
	fill: var(--color-dopper-polarBlue);
}

form section:nth-of-type(3) li:nth-of-type(2) label svg{
	fill: var(--color-dopper-tidalTeal);
}

form section:nth-of-type(3) li:nth-of-type(3) label svg{
	fill: var(--color-dopper-pacificBlue);
}

form section:nth-of-type(3) li:nth-of-type(4) label svg{
	fill: var(--color-dopper-coralSplash);
}

form section:nth-of-type(3) li:nth-of-type(5) label svg{
	fill: var(--color-dopper-seahorseLime);
}

form section:nth-of-type(3) li:nth-of-type(6) label svg{
	fill: var(--color-dopper-moodyMint);
}



/* Kleuren voor de dop */
#dop {
	fill: var(--color-dopper-polarBlue);
}

#dop.polarBlue{
 fill: var(--color-dopper-polarBlue);
}

#dop.tidalTeal{
	fill: var(--color-dopper-tidalTeal);
}

#dop.pacificBlue{
	fill: var(--color-dopper-pacificBlue);
}

#dop.coralSplash{
	fill: var(--color-dopper-coralSplash);
}

#dop.seahorseLime{
	fill: var(--color-dopper-seahorseLime);
}

#dop.moodyMint{
	fill: var(--color-dopper-moodyMint);
}

/* Kleuren voor de cup */
#cup {
	fill: var(--color-dopper-white);
}

#cup.wit{
	fill: var(--color-dopper-white);
}

#cup.zwart{
	fill: var(--color-dopper-black);
 }

/* Kleuren voor de bottle */
#bottle{
	fill: var(--color-dopper-polarBlue);
}

#bottle.polarBlueBottle{
	fill: var(--color-dopper-polarBlue);
 }
 
 #bottle.tidalTealBottle{
	 fill: var(--color-dopper-tidalTeal);
 }
 
 #bottle.pacificBlueBottle{
	 fill: var(--color-dopper-pacificBlue);
 }
 
 #bottle.coralSplashBottle{
	 fill: var(--color-dopper-coralSplash);
 }
 
 #bottle.seahorseLimeBottle{
	 fill: var(--color-dopper-seahorseLime);
 }
 
 #bottle.moodyMintBottle{
	 fill: var(--color-dopper-moodyMint);
 }





/****************/
/*    @MEDIA    */
/****************/
@media (min-width: 40em){
	/* Hartje groter maken op desktop */
	header nav a { 
		font-size:1.7em;
	}

	/* grid aanpassen van header, fles en opties op desktop */
  div:nth-of-type(1){
		grid-template-rows: max-content 1fr;
		grid-template-columns: .7fr 1.3fr;
	
		grid-template-areas: 
		"header fles"
		"opties fles";
	}

	/* Om de opties margin te geven */
	h2{
		margin: 0 1.5em 1.7em; 
	}

	ul div{
		margin: 0 0 5em 2em; 
	}

	form section button{
		margin: 0 0 0 2em; 
	}

	/* svg opties groter maken op desktop */
	ul li label svg{
		width: 3em;
	}
}